.Card{
    background-color: #edf2f4;
    height:10rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.Card:hover ~ .Card{
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}
.Card:hover{
    opacity: 1;
}
.CardImage{
    height: 80%;
    -o-object-fit: cover;
    object-fit: cover;
}
.CardBody{
    height: auto;
    margin: 0px;
    padding: 0px;
}
.CardSubtitle{
    margin-top: 4%;
}


  