@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.main-nav{
  border-bottom:1px solid #2b2d42;
  padding-bottom:10px;
  font-family: "Lato";
  font-weight: 400;
};
